    <h1 class=" animated fadeIn"> {{ movie?.title }} <small> ({{ movie?.release_date | date:'y' }})</small> </h1>
    <hr>
    
    <div class="row animated fadeIn fast" >
      <div class="col-md-4">
        <p>{{ movie?.director  }}</p>
        <br><br>
        <p><small>{{ movie?.opening_crawl }}</small></p>
      </div>
      <div class="col-md-8">
        <h3> {{ movie?.producer }} </h3>
        <hr>
      </div>
    </div>


<div class="row">
    <div class="col-md-12">
    <h3>Personajes</h3>
      <table class="table table-inverse table-hover">
        <thead>
          <tr>
            <th>Nombre del Personaje</th>
            <th>Fecha de nacimiento</th>
            <th>Genero</th>
            <th>Peso</th>
            <th>Altura</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of people">
            <th>{{ character.name }}</th>
            <th>{{ character.birth_year }}</th>
            <th>{{ character.gender }}</th>
            <th>{{ character.mass }}</th>
            <th>{{ character.height }}</th>
            <th>              
              <button type="button" class="btn btn-outline-success btn-sm">
                  Ver naves piloteadas
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

